<div id="engadget-footer-sitemap-container">
    <footer id="engadget-footer-sitemap">
        <div class="links">
            <div class="link-column">
                <ul class="menu vertical">
                    <li><a href="#">Deutsch</a></li>
                    <li><a href="#">Français</a></li>
                    <li><a href="#">中文(简体) </a></li>
                </ul>
            </div>
            <div class="link-column">
                <ul class="menu vertical">
                    <li><a href="#">Русский</a></li>
                    <li><a href="#">Español</a></li>
                    <li><a href="#">日本語</a></li>
                </ul>
            </div>                 
            <div class="link-column">
                <ul class="menu vertical">
                    <li><a href="#">Português</a></li>
                    <li><a href="#">Italiano</a></li>
                    <li><a href="#">Other languages</a></li>
                </ul>
            </div>
            <div class="link-column">
                <ul class="menu vertical">
                    <li><a href="#">GDPR</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>

<div class="footer-container">
    <footer class="footer-details">
        <div class="footer-left">
            <div class="copyright">
                <ul>
                    <li>Copyright © 2015-2018</li>
                    <li class="float-right">The Tunnelblick Project</li>
                </ul>
            </div>
        </div>
    </footer>
</div>