<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleVersion</key>
	<string>1.0.1</string>
	<key>CFBundleShortVersionString</key>
	<string>Tunnelblick Configuration 002 bugfix 1</string>
	<key>CFBundleIdentifier</key>
	<string>net.tunnelblick.tunnelblick.updatable-configs.config.002</string>
	<key>SUFeedURL</key>
	<string>https://tunnelblick.net/updatable-configs/config.002/appcast.rss</string>
	<key>TBReplaceIdentical</key>
	<string>yes</string>
	<key>TBSharePackage</key>
	<string>private</string>
	<key>TBKeepExistingFilesList</key>
	<array>
		<string>client.p12</string>
	</array>
	<key>TBPackageVersion</key>
	<string>1</string>
</dict>
</plist>
