//  DCP Variables Settings
//  -----------------------------


// Global variables




$white: #ffffff;

$bk-dark: #2c3840;
$bk-dark-text: #555555;
$bk-green: #3da556;
$topbar-responsive-bg: $bk-dark;

$bk-secondary: #FFFFDF;
$topbar-responsive-animation-type: fade-in; // or use slide-down or none


$color-transparent: rgba(1,1,1,0);

$body-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$bold-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$light-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;





//new gutter size
$grid-margin-gutters: 1.875rem;




