.grid-container {
	.card {
		background-color: #FFFFDF;
		box-shadow: 0 2px 4px -1px rgba(0,0,0,0.50);
		border: 0;
		padding: 0 2rem 2rem 2rem;
		&.has-radius {
			border-radius: 25px;
		}
		&.download {
			background-color: $white;
			margin-top: 25px;
			@include flex-middle-justify;
			img {
				width: 50px;
				
			}
		}
		&.support {
			background-color: $white;
			padding-top: 25px;
			padding-bottom: 25px;
			margin-top: 25px;
			@include flex-middle-justify;
			justify-content: flex-start;
			img {
				width: 50px;
				margin-right: 40px;

			}
		}
	}
	&.product {
		.card {
			box-shadow: 0 0 rgba(0,0,0,0);
		}
	}
}